body
	.navbar
		margin: 0 15px
		font-family "Raleway", sans-serif
		border-radius 0
		border-color #3d8cf5
		background-color #3d8cf5
	.navbar-inverse
		.navbar-nav > a.active > a
			background-color #3d8cf5
		.navbar-nav > li > a
			color #F2DEDE
		li.active a
			background-color #1976D2 !important