@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
body
	font-family "Noto Sans KR", sans-serif
	.nav1
		width 100%
		margin 0
	.navbar
		font-family "Raleway", sans-serif
		border-radius 0
		border-color #3d8cf5
		background-color #3d8cf5
	.navbar-inverse
		.navbar-nav > a.active > a
			background-color #3d8cf5
		.navbar-nav > li > a
			color #F2DEDE
		li.active a
			background-color #1976D2 !important