body
	.weather
		background-color #42A5F5
		color #FFF
		height 150px
		h2
			font-size 1.25em
			font-weight 500
			line-height 1
			small
				position relative
				top -3px
				left 5px
		i
			width 78px
			height 56px
			font-size 3.25em
			margin .3em 25% .1em 25%
		span
			margin 0 34%
			line-height 1.25
			font-size 1.15em
	.chat
		height 500px
		background-color orange
	.login
		height 300px
		background-color green